<header>


  <nav class="main-header navbar navbar-expand-md navbar-black navbar-dark">
    <div class="container">

      <a routerLink="/" class="brand-link">
        <img src="../../assets/imgs/icon-profile-02.png" alt="Profiles" width="64" height="64" />
      </a>

      <div class="navbar-collapse pull-left order-3 collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/" class="nav-link" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">Profiles</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>
