<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          Profile detail
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="'/'">All profiles</a></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="card card-solid">
    <div class="card-body pb-0">
      <div class="col-12">
        <div class="card bg-light d-flex flex-fill">
          <div class="card-header text-muted border-bottom-0">
            {{ profile?.jobTitle }}
          </div>
          <div class="card-body pt-0" *ngIf="profile">
            <div class="row">
              <div class="col-7">
                <h2 class="lead"><b>{{ profile.firstName }} {{ profile.lastName }}</b></h2>
                <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                <ul class="ml-4 mb-0 fa-ul text-muted">
                  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i>
                    </span> Address: {{ profile.street }} {{ profile.city}} {{ profile.state }} </li>
                  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone: {{
                    profile.phone | phone }}</li>
                  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-baby"></i></span> DOB: {{
                    profile.dob | date: 'MM/dd/yyyy' }}</li>
                </ul>
              </div>
              <div class="col-5 text-center">
                <img [src]="profile.profilePhoto" alt="user-avatar" class="img-circle img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
